.description {
	margin-bottom: 40px;
	.description-menu {
		color: #959595;
	}
	.description-elements__title {
		font-weight: bold;
    	font-size: 70px;
    	float: left;
	}
	.description-elements__sort {
		margin-top: 18px;
		float: right;
		font-family: 'bariol_boldbold';
		color: $orange;
		background-color: white;
		cursor: pointer;
		border-radius: 30px;
		height: 53px;
    	width: 171px;
    	border: 1px solid #d2d2d2;
    	font-size: 18px;
	}
}
.description:after {
	clear: both;
    content: "";
    display: block;
}