* {
	box-sizing: border-box;
	margin: 0;
}

body {
	margin: 0;
	font-family: Helvetica, Arial, sans-serif;
}

.main {
	width: 80%;
	margin: auto;
}

.darken {
	background: rgba(0,0,0,0.5);
    display: block;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 10;
    transition: opacity .15s linear;
    pointer-events: none;
}
