.main-header {
    padding: 21px 0 21px 0;
    height: 92px;
    .logo-header,
    .menu-header {
        float: left;
    }
    .menu-header {
        ul {
            list-style: none;
        }
        li {
            float: left;
            margin-right: 10px;
        }
        li a {
            text-decoration: none;
            color: black;
            font-family: 'bariol_boldbold';
            font-size: 19px;
            font-weight: bold;
        }
        li a:hover {
            color: $orange;
        }
    }
    .right-header {
        float: right;
        a,
        a:hover {
            float: left;
            text-decoration: none;
            margin-right: 10px;
            color: black;
        }
    }
    .cart-table.hidden {
        display: none;
    }
    .cart-table {
    	width: 430px;
    	font-size: 14px;
        clear: both;
        position: absolute;
        top: 83px;
        right: 58px;
        z-index: 12;
        background: white;
        border-radius: 5px;
        padding-top: 10px;
    }
    .cart-table table {
        overflow-y: scroll;
        overflow-x: hidden;
        height: 215px;
        display: block;
    }

    .cart-table table tbody {
    	background: #f8f8f8;
    }

	.cart-table table td {
		padding: 15px;
		border-bottom: 1px solid #ddd;
	}
    .cart-table table th {
    	padding: 15px;
    	font-weight: 700;
    }

    .cart-table table td:nth-child(4n + 2) {
    	padding: 0px;
    }

    .cart-table table img {
    	width: 120px;
    	height: 120px;
    }

    .cart-table .cart-name,
    .cart-table .cart-frequency{
    	font-weight: bold;
    }

    .cart-table .cart-size {
    	font-size: 12px;
    }

    .total-title {
    	float: left;
    	font-weight: bold;
    	margin-left: 18px;
    	margin-top: 30px;
    	font-size: 18px;
    }
    .total-value {
    	float: right;
    	font-weight: bold;
    	margin-right: 18px;
    	margin-top: 24px;
    	font-size: 25px;
    }

    .proceed {
    	clear: both;
    	margin-top: 30px;
    	margin-bottom: 30px;
    	margin-left: 130px;
    }

    .proceed button{
	    font-family: 'bariol_boldbold';
	    border-radius: 30px;
	    text-align: center;
	    font-size: 18px;
	    font-weight: 500;
	    color: #fff;
	    padding: 15px 20px 15px 20px;
	    cursor: pointer;
	    color: white;
	    background: $orange;
	    border: 1px solid $orange;
    }

    .nbr-products {
    	background: #f26f24;
	    border-radius: 100%;
	    padding: 8px 12px 8px 12px;
	    color: white;
    }

}

header:after {
    clear: both;
    content: "";
    display: block;
}
