.promotion-banner {
	margin-bottom: 60px;
    .main {
        border: 1px solid #d2d2d2;
        font-size: 24px;
        text-align: center;
        height: 132px;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .main > * {
    	margin-right: 30px;
    }

    .main span {
    	color: #989898;
    }

    .main > img {
    	align-self: flex-end;
    }

    .buy {
    	font-family: 'bariol_boldbold';
		color: $orange;
		background-color: white;
		cursor: pointer;
		border-radius: 40px;
		height: 53px;
    	width: 120px;
    	border: 1px solid #d2d2d2;
    	font-size: 18px;
    }

}
.promotion-banner:after {
	clear: both;
	content: "";
	display: block;
}
