.products {
    ul {
        list-style: none;
        padding: 0px;
        li:hover {
            background-color: #f5f5f5;
            img {
                opacity: 0.3;
            }
            .product-details {
                position: absolute;
                top: 25%;
                width: 100%;
            }
            .hovered {
                position: absolute;
                top: 65%;
                width: 100%;
            }
            .new-product {
                top: 41%;
                opacity: 0.3;
            }
        }
        li {
            float: left;
            margin-right: 15px;
            margin-bottom: 20px;
            text-align: center;
            width: 24%;
            position: relative;
            height: 420px;
            overflow: hidden;

        }
        li:nth-child(4n) {
        	margin-right: 0px;
        }
        li p {
            margin-bottom: 15px;
        }
        .product-rating {
        	margin-bottom: 5px;
        }
        li .new-product {
            position: absolute;
            top: 45px;
            left: 45px;
            width: 80px;
            height: 80px;
            background: #00a7df;
            text-align: center;
            line-height: 80px;
            text-transform: uppercase;
            color: #fff;
            font-size: 16px;
            font-weight: bold;
            display: inline-block;
            border-radius: 40px;
        }
        .product-size,
        .product-price {
            color: #a5a5a5;
        }
        .star {
        	color: #ffd200;
        	font-size: 26px;
        }
        li select {
            display: block;
            margin: auto;
            margin-bottom: 15px;
            padding: 15px 25px 15px 25px;
            border: 1px solid #d2d2d2;
            border-radius: 30px;
            color: $orange;
            font-family: 'bariol_boldbold';
            font-size: 18px;
            font-weight: bold;
            cursor: pointer;
        }
        .product-minus, .product-plus, .product-qte {
            margin-right: 15px;
        }
        .product-minus, .product-plus {
            color: $orange;
            background-color: white;
            font-size: 18px;
            font-weight: bold;
            cursor: pointer;
            padding: 15px 21px 15px 21px;
            border-radius: 50%;
            border: 1px solid #d2d2d2;
        }
        .product-add {
            color: white;
            background-color: $orange;
            font-size: 18px;
            font-weight: bold;
            cursor: pointer;
            padding: 15px 21px 15px 21px;
            border-radius: 40%;
            border: 1px solid $orange;
        }
    }
}

.products:after {
	content: "";
	clear: both;
	display: block;
}
