.sub-header {
	font-size: 13px;
    background: #fff;
    font-weight: 300;
    background-color: #f2f2f2;
    padding: 6px 122px 6px 122px;

    .sub-header__left {
        float: left;
        a {
        	float: left;
        	color: $orange;
        	text-decoration: none;
        }
        p {
        	float: left;
        	color: #808080;
        	margin-right: 10px;
        }
        p span {
        	color: black;
        }
    }
    .sub-header__right {
        float: right;
        ul {
            list-style: none;
        }
        li {
        	float: left;
        	color: #808080;
        	margin-right: 10px;
        }
        li:last-child {
        	margin-right: 0px;
        }
    }
}

.sub-header:after {
    clear: both;
    content: "";
    display: block;
}
