* {
  box-sizing: border-box;
  margin: 0; }

body {
  margin: 0;
  font-family: Helvetica, Arial, sans-serif; }

.main {
  width: 80%;
  margin: auto; }

.darken {
  background: rgba(0, 0, 0, 0.5);
  display: block;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 10;
  transition: opacity .15s linear;
  pointer-events: none; }

.sub-header {
  font-size: 13px;
  background: #fff;
  font-weight: 300;
  background-color: #f2f2f2;
  padding: 6px 122px 6px 122px; }
  .sub-header .sub-header__left {
    float: left; }
    .sub-header .sub-header__left a {
      float: left;
      color: #f26f24;
      text-decoration: none; }
    .sub-header .sub-header__left p {
      float: left;
      color: #808080;
      margin-right: 10px; }
    .sub-header .sub-header__left p span {
      color: black; }
  .sub-header .sub-header__right {
    float: right; }
    .sub-header .sub-header__right ul {
      list-style: none; }
    .sub-header .sub-header__right li {
      float: left;
      color: #808080;
      margin-right: 10px; }
    .sub-header .sub-header__right li:last-child {
      margin-right: 0px; }

.sub-header:after {
  clear: both;
  content: "";
  display: block; }

.main-header {
  padding: 21px 0 21px 0;
  height: 92px; }
  .main-header .logo-header,
  .main-header .menu-header {
    float: left; }
  .main-header .menu-header ul {
    list-style: none; }
  .main-header .menu-header li {
    float: left;
    margin-right: 10px; }
  .main-header .menu-header li a {
    text-decoration: none;
    color: black;
    font-family: 'bariol_boldbold';
    font-size: 19px;
    font-weight: bold; }
  .main-header .menu-header li a:hover {
    color: #f26f24; }
  .main-header .right-header {
    float: right; }
    .main-header .right-header a,
    .main-header .right-header a:hover {
      float: left;
      text-decoration: none;
      margin-right: 10px;
      color: black; }
  .main-header .cart-table.hidden {
    display: none; }
  .main-header .cart-table {
    width: 430px;
    font-size: 14px;
    clear: both;
    position: absolute;
    top: 83px;
    right: 58px;
    z-index: 12;
    background: white;
    border-radius: 5px;
    padding-top: 10px; }
  .main-header .cart-table table {
    overflow-y: scroll;
    overflow-x: hidden;
    height: 215px;
    display: block; }
  .main-header .cart-table table tbody {
    background: #f8f8f8; }
  .main-header .cart-table table td {
    padding: 15px;
    border-bottom: 1px solid #ddd; }
  .main-header .cart-table table th {
    padding: 15px;
    font-weight: 700; }
  .main-header .cart-table table td:nth-child(4n + 2) {
    padding: 0px; }
  .main-header .cart-table table img {
    width: 120px;
    height: 120px; }
  .main-header .cart-table .cart-name,
  .main-header .cart-table .cart-frequency {
    font-weight: bold; }
  .main-header .cart-table .cart-size {
    font-size: 12px; }
  .main-header .total-title {
    float: left;
    font-weight: bold;
    margin-left: 18px;
    margin-top: 30px;
    font-size: 18px; }
  .main-header .total-value {
    float: right;
    font-weight: bold;
    margin-right: 18px;
    margin-top: 24px;
    font-size: 25px; }
  .main-header .proceed {
    clear: both;
    margin-top: 30px;
    margin-bottom: 30px;
    margin-left: 130px; }
  .main-header .proceed button {
    font-family: 'bariol_boldbold';
    border-radius: 30px;
    text-align: center;
    font-size: 18px;
    font-weight: 500;
    color: #fff;
    padding: 15px 20px 15px 20px;
    cursor: pointer;
    color: white;
    background: #f26f24;
    border: 1px solid #f26f24; }
  .main-header .nbr-products {
    background: #f26f24;
    border-radius: 100%;
    padding: 8px 12px 8px 12px;
    color: white; }

header:after {
  clear: both;
  content: "";
  display: block; }

.description {
  margin-bottom: 40px; }
  .description .description-menu {
    color: #959595; }
  .description .description-elements__title {
    font-weight: bold;
    font-size: 70px;
    float: left; }
  .description .description-elements__sort {
    margin-top: 18px;
    float: right;
    font-family: 'bariol_boldbold';
    color: #f26f24;
    background-color: white;
    cursor: pointer;
    border-radius: 30px;
    height: 53px;
    width: 171px;
    border: 1px solid #d2d2d2;
    font-size: 18px; }

.description:after {
  clear: both;
  content: "";
  display: block; }

.promotion-banner {
  margin-bottom: 60px; }
  .promotion-banner .main {
    border: 1px solid #d2d2d2;
    font-size: 24px;
    text-align: center;
    height: 132px;
    display: flex;
    justify-content: center;
    align-items: center; }
  .promotion-banner .main > * {
    margin-right: 30px; }
  .promotion-banner .main span {
    color: #989898; }
  .promotion-banner .main > img {
    align-self: flex-end; }
  .promotion-banner .buy {
    font-family: 'bariol_boldbold';
    color: #f26f24;
    background-color: white;
    cursor: pointer;
    border-radius: 40px;
    height: 53px;
    width: 120px;
    border: 1px solid #d2d2d2;
    font-size: 18px; }

.promotion-banner:after {
  clear: both;
  content: "";
  display: block; }

.products ul {
  list-style: none;
  padding: 0px; }
  .products ul li:hover {
    background-color: #f5f5f5; }
    .products ul li:hover img {
      opacity: 0.3; }
    .products ul li:hover .product-details {
      position: absolute;
      top: 25%;
      width: 100%; }
    .products ul li:hover .hovered {
      position: absolute;
      top: 65%;
      width: 100%; }
    .products ul li:hover .new-product {
      top: 41%;
      opacity: 0.3; }
  .products ul li {
    float: left;
    margin-right: 15px;
    margin-bottom: 20px;
    text-align: center;
    width: 24%;
    position: relative;
    height: 420px;
    overflow: hidden; }
  .products ul li:nth-child(4n) {
    margin-right: 0px; }
  .products ul li p {
    margin-bottom: 15px; }
  .products ul .product-rating {
    margin-bottom: 5px; }
  .products ul li .new-product {
    position: absolute;
    top: 45px;
    left: 45px;
    width: 80px;
    height: 80px;
    background: #00a7df;
    text-align: center;
    line-height: 80px;
    text-transform: uppercase;
    color: #fff;
    font-size: 16px;
    font-weight: bold;
    display: inline-block;
    border-radius: 40px; }
  .products ul .product-size,
  .products ul .product-price {
    color: #a5a5a5; }
  .products ul .star {
    color: #ffd200;
    font-size: 26px; }
  .products ul li select {
    display: block;
    margin: auto;
    margin-bottom: 15px;
    padding: 15px 25px 15px 25px;
    border: 1px solid #d2d2d2;
    border-radius: 30px;
    color: #f26f24;
    font-family: 'bariol_boldbold';
    font-size: 18px;
    font-weight: bold;
    cursor: pointer; }
  .products ul .product-minus, .products ul .product-plus, .products ul .product-qte {
    margin-right: 15px; }
  .products ul .product-minus, .products ul .product-plus {
    color: #f26f24;
    background-color: white;
    font-size: 18px;
    font-weight: bold;
    cursor: pointer;
    padding: 15px 21px 15px 21px;
    border-radius: 50%;
    border: 1px solid #d2d2d2; }
  .products ul .product-add {
    color: white;
    background-color: #f26f24;
    font-size: 18px;
    font-weight: bold;
    cursor: pointer;
    padding: 15px 21px 15px 21px;
    border-radius: 40%;
    border: 1px solid #f26f24; }

.products:after {
  content: "";
  clear: both;
  display: block; }

/*# sourceMappingURL=style.css.map */
